#navbar, #nav-ul{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  list-style-type: none;
}
#nav-ul {
  margin-left: 3px;
  font-size: 14px;
}
#nav-li{
  padding-right:10px;
  margin-right: 20px;
}
#footer {
 font-family: cursive;
  font-size: xx-small;
}