#navbar, #nav-ul{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  list-style-type: none;
}
#nav-ul {
  font-size: 65%;
  margin: auto;
}
#nav-li{
  padding-right:1%;
  margin-right: 2%;
}
#nav-img {
  transition: transform .7s ease-in-out;
}
#nav-img:hover {
  transform: rotate(360deg);
}
#header{
  background-color: #495E57;
  display: grid;
  grid-template-areas: "head  picture"
                       "head2 picture"
                       "text picture"
                       "but picture" ;
  grid-template-columns: 40% 1fr;
  grid-template-rows: (4, 25%);
  padding: 7%;
  margin-bottom: 10%;
}
#header > h1,h2{
  color: #F4CE14;
}
#header > h1{
  grid-area: head;
}
#header >h2{
  grid-area: head2;
}
#header > article {
  grid-area: text;
  margin-top: 10px;
}
 #header > button {
  grid-area: but;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #F4CE14;
  font-size: larger;
  height: 60%;
  width: 80%;
  margin-left: 10%;
} 
#header > img {
  grid-area: picture;
  margin-left: 15%;
  border-radius: 10px;
  border: 1px solid black;
}
#main{
  margin: 20%;
  display: grid;
  grid-template-areas:"section1"
                      "section2"
                      "section2"
                      "section2"
                      "section2" ;
  grid-template-rows: 1fr 4fr;
}
#main-sec1{
  grid-area: section1;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10%;
}
#main-sec1 > h1{
  margin-right: 160px;
  margin-left: 20px;
}
#main-sec1 > button{
  height: fit-content;
  border-radius: 5px;
}
#main-sec2{
  grid-area: section2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #495E57;
  padding-top: 8%;
}
#main-article{
  font-size: 10px;
  font-style: italic;
  width: 100px;
}
#main-img {
  border-radius: 5px;
  border: 1px solid black;
}
#main-h4{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  background-color: #F4CE14;
  font-size: larger;
}
.maint-sec1{
  display: grid;
  grid-template-areas:"tes  tes tes"
                      "pp pp1 pp2"
                      "pp pp1 pp2"
                      "pp pp1 pp2";
  background-color: #F4CE14;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (4, 1fr);
  padding: 5%; 
  align-self: center;
  font-size: 80%;
}
#maint-h{
  grid-area: tes;
  font-size: 250%;
 justify-self: center;
 
}
#pp{
  grid-area: pp;
}
#pp1{
  grid-area: pp1;
}
#pp2{
  grid-area: pp2;
}
.maint-sec2{
  padding-left: 25%;

}
.maint-sec3{
  display: grid;
  grid-template-areas: "hd  pic"
                       "hd2 pic"
                       "txt pic";
  grid-template-columns: 25% 1fr;
  grid-template-rows: (3, 20%);
  background-color: #495E57;
  padding: 7%;
  font-size: 70%;

}
.maint-sec3 >h1{
  grid-area: hd;
  color: #F4CE14;
}
.maint-sec3 >h3{
  grid-area: hd2;
}
.maint-sec3 >p{
  grid-area: txt;
  
}
.maint-sec3 >img{
  grid-area: pic;
  border-radius: 10px;
  margin: auto;
  border: 1px solid black;
}
#book-h1{
  color: #F4CE14;
  text-align: center;
  font-family: "Karla";
  transition: .7s ease-in-out;
}
#book-h1 :hover{
  transform: rotateY(360deg);
}
form label {
  font-size: 100% ;
  color:#F4CE14;
  margin: auto;
  padding-top: 5%;
  max-height: 20px;
}
form input,select {
  color:#495E57;
  min-height: 200%;
  text-align: center;
}
.booking-form {
  display:grid;
  max-width: 500px;
  gap: 15px;
  margin:auto;
  background-color:#495E57;
  border-radius: 10px;
}
.FieldError {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-bottom: -150%;
}
sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.confirmation-header {
  position: relative;
  text-align: center;
  min-height: 70vh;
}

.confirmation-image {
  height: 40vh; /* height of container */
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.redirect-button {
  background-color: #464646;
  color: white !important;
  padding: 2vh 2rem 2vh 2rem;
  border-radius: 0.5rem;
  min-width: 12vw;
  font-family: "Karla";
  font-size: 18px;
}

.redirect-button:hover {
  background-color: #f4ce14;
  color: #464646 ;
  transition: 0.2s;
}
#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 80%;
  margin: 3%;
}
.foot {
  font-family: cursive;
  font-size: xx-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .7s ease-in-out;
}
.foot:hover {
  transform: rotateY(360deg);
}

@media screen and (max-width: 768px) {
    #main-article, #main-img, #main-h4{
      width: 80%;
      margin-left: 5%;
    }
    #header-img{
      height: 80%;
      width: 90%;
}
}